#app-box {
    margin-top: 50px;
}

.slider {
    margin-top: 12px;
}

.radio-inline, .checkbox-inline {
    padding-top: 12px;
}

#penguin-container {
  width: 72px;
  height: 100px;
  position: fixed;
}
