#app-box {
    margin-top: 50px;
}

.slider {
    margin-top: 12px;
}

.radio-inline, .checkbox-inline {
    padding-top: 12px;
}

#penguin-container {
  width: 122px;
  height: 100px;
  position: fixed;
}

#penguin-image {
  width: 72px;
  height: 100px;
  float: right;
}

#penguin-process {
  width: 72px;
  height: 20px;
  position: fixed;
  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background: #FFFFFF;
  z-index: -1;
  display: none;
}
